*/*
*.dcu
*.~*~
*.local
*.identcache
__history
*.syn
*.drc
*.ddp
*.dof
*.map
*.exe
*.dll
*.ini
*.inf
*.cfg
*.rar
*.zip
*.adu
*.wlx
*.wlx64
*.mes
*.txt
*.pyc
!Res/*
!Setup/*
!Py/*.py
!Py/syn_plugin_manager
!Py/syn_insert_time
!Wiki/*
!CFree/*
